#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
}

ul {
  list-style: none;
}
.scroll
{
  height:200px; 
  width:50%;
overflow:hidden;
 overflow-y:scroll;
}